@()

@main("Trailrunner") {

  <p>
    TrailRunner is a logic-based puzzle game.
    The objective is to escape the dungeon without dying.
    Each field in the dungeon has a number on it, which represents the times you are
    allowed to step on the specific field. Every time you leave the field the number
    decreases. Once the field reaches 0, it breaks and you are not allowed to step back
    onto it. If you do, you lose. The door to the dungeon only opens once every field is
    broken, so you need to think about every step, to not block your own way!
  </p>



}
