<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Level Selection</title>
    </head>
    <body>
        <h2>Select a level</h2>
        <form method="get" action="game/1">
            <input type="submit" value="Level 1">
        </form>
        <form method="get" action="game/2">
            <input type="submit" value="Level 2">
        </form>
        <form method="get" action="game/3">
            <input type="submit" value="Level 3">
        </form>
        <form method="get" action="game/4">
            <input type="submit" value="Level 4">
        </form>
    </body>
</html>