@()

@main("TrailRunner") {
    <head>
        <meta charset="UTF-8">
        <title>Main Menu</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'> </script>
    </head>
    <body>
        <div id="mainMenu" class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <form method="get" action=@routes.TrailRunnerController.changeToLevelSelection()>
                    <button id="menu-button" type="submit">New Game</button>
                </form>
            </div>
            <div class="row justify-content-center">
                <form method="get" action=@routes.TrailRunnerController.load()>
                    <button id="menu-button" type="submit">Load Game</button>
                </form>
            </div>
            <div class="row justify-content-center">
                <form method="get" action=@routes.TrailRunnerController.about()>
                    <button id="menu-button" type="submit">About Game</button>
                </form>
            </div>
        </div>
    </body>
}