<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Menu</title>
    </head>
    <body>
        <img src="public/images/TrailRunnerStart.png" alt="Trail Runner logo">
        <form method="get" action="level">
            <input type="submit" value="New Game">
        </form>
        <form method="get" action="load">
            <input type="submit" value="Load Game">
        </form>
        <form method="get" action="about">
            <input type="submit" value="About the Game">
        </form>
    </body>
</html>