@(controller: controllers.TrailRunnerController)

@wall = @{
    -99
}

@ground_0 = @{
    -1
}

@ground_0_0 = @{
    0
}

@ground_1 = @{
    1
}

@ground_2 = @{
    2
}

@ground_3 = @{
    3
}

@ground_4 = @{
    4
}

@ground_5 = @{
    5
}

@door_1 = @{
    -10
}

@door_2 = @{
    -20
}


@main {
    <head>
        <meta charset="UTF-8">
        <title>Level Selection</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/main.js")'></script>
    </head>
    <body>
        <div class="container" id="game-container">
            <div class="navbar justify-content-center">
                <div>
                    <img src="@routes.Assets.versioned("images/Logo.png")" id="level-logo"/>
                    <a class="navbar-brand" id="level-name">&nbsp;@controller.gameController.levelGetName()</a>
                </div>
                <form method="get" action="@routes.TrailRunnerController.save()">
                    <button id="save-button" data-toggle="tooltip" title="Save the game" type="submit">&#x1F4BE</button>
                </form>
                <form method="get" action="@routes.TrailRunnerController.redo()">
                    <button id="redo-button" data-toggle="tooltip" title="Redo your undone step" type="submit">
                        &#x21B7</button>
                </form>
                <form method="get" action="@routes.TrailRunnerController.undo()">
                    <button id="undo-button" data-toggle="tooltip" title="Undo your last step" type="submit">
                        &#x21B6</button>
                </form>
                <form method="get" action="@routes.TrailRunnerController.start()">
                    <button id="back-button" data-toggle="tooltip" title="Go back to main menu" type="submit">
                        &#x1F6AA</button>
                </form>
            </div>
            <div id="level-map">
                <script>
                        buildLevel()
                </script>
            </div>
            <div id="move-button-group">
                <form method="get" action="@routes.TrailRunnerController.moveUp()">
                    <button id="move-button" onclick="moveUp()" type="submit">&#x2191</button>
                </form>
                <div class="btn-group" role="group">
                    <form method="get" action="@routes.TrailRunnerController.moveLeft()">
                        <button id="move-button" onclick="moveLeft()" type="submit">&#x2190</button>
                    </form>
                    <form method="get" action="@routes.TrailRunnerController.moveDown()">
                        <button id="move-button" onclick="moveDown()" type="submit">&#x2193</button>
                    </form>
                    <form method="get" action="@routes.TrailRunnerController.moveRight()">
                        <button id="move-button" onclick="moveRight()" type="submit">&#x2192</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
}
