@(gameString: String)

@main("TrailRunner") {
    <head>
        <meta charset="UTF-8">
        <title>Level Selection</title>
        <link href=“main.css” rel=“stylesheet” type=“text/css” />
    </head>
    <body>
        <div>
            <div id="TrailRunner-Header">
                <h1>
                    TrailRunner
                </h1>
            </div>
            <fieldset id="game-string">
            @gameString
            </fieldset>
            <div id="move-button-group">
                <form method="get" action="@routes.TrailRunnerController.moveUp()">
                        <input id="up-button" type="submit" value="&#x2191">
                </form>
                <row>
                    <form method="get" action="@routes.TrailRunnerController.moveLeft()">
                        <div class="category">
                            <input id="left-button" type="submit" value="&#x2190">
                        </div>
                    </form>
                    <form method="get" action="@routes.TrailRunnerController.moveRight()">
                        <div class="category">
                            <input id="right-button" type="submit" value="&#x2192">
                        </div>
                    </form>
                </row>
                <form method="get" action="@routes.TrailRunnerController.moveDown()">
                        <input id="down-button" type="submit" value="&#x2193">
                </form>
            </div>
        </div>
    </body>
}
