@(controller: controllers.TrailRunnerController)

@wall = @{
    -99
}

@ground_0 = @{
    -1
}

@ground_0_0 = @{
    0
}

@ground_1 = @{
    1
}

@ground_2 = @{
    2
}

@ground_3 = @{
    3
}

@ground_4 = @{
    4
}

@ground_5 = @{
    5
}

@door_1 = @{
    -10
}

@door_2 = @{
    -20
}


@main("TrailRunner") {
    <head>
        <meta charset="UTF-8">
        <title>Level Selection</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar justify-content-center">
                <div>
                    <img src="@routes.Assets.versioned("images/Logo.png")" id="level-logo"/>
                    <a class="navbar-brand" id="level-name">&nbsp;@controller.gameController.levelGetName()</a>
                </div>
                <form method="get" action="@routes.TrailRunnerController.save()">
                    <button id="save-button" data-toggle="tooltip" title="Save the game" type="submit">&#x1F4BE</button>
                </form>
                <form method="get" action="@routes.TrailRunnerController.redo()">
                    <button id="redo-button" data-toggle="tooltip" title="Redo your undone step" type="submit">
                        &#x21B7</button>
                </form>
                <form method="get" action="@routes.TrailRunnerController.undo()">
                    <button id="undo-button" data-toggle="tooltip" title="Undo your last step" type="submit">
                        &#x21B6</button>
                </form>
                <form method="get" action="@routes.TrailRunnerController.start()">
                    <button id="back-button" data-toggle="tooltip" title="Go back to main menu" type="submit">
                        &#x1F6AA</button>
                </form>
            </div>
            @for(i <- 0 until controller.gameController.level.rows) {
                <div class="row justify-content-center">
                @for(j <- 0 until controller.gameController.level.columns) {
                    <div class="col" id="no-padding">
                        @if(controller.gameController.level.dungeon(i)(j).value == wall) {
                            <object data="../../public/images/fields/Wall.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Wall.png")" id="game-field"/>
                            </object>
                        } else if(controller.gameController.level.dungeon(i)(j).value == ground_0) {
                        @if(controller.gameController.level.dungeon(i)(j).isPlayerOnField) {
                            <object data="../../public/images/fields/Ground_0.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_0.png")" id="game-field"/>
                            </object>
                        }
                        } else if(controller.gameController.level.dungeon(i)(j).value == ground_0_0) {
                        @if(controller.gameController.level.dungeon(i)(j).isPlayerOnField) {
                            <object data="../../public/images/fields/Ground_0_P.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_0_P.png")" id="game-field"/>
                            </object>
                        } else {
                            <object data="../../public/images/fields/Ground_0.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_0.png")" id="game-field"/>
                            </object>
                        }
                        } else if(controller.gameController.level.dungeon(i)(j).value == ground_1) {
                        @if(controller.gameController.level.dungeon(i)(j).isPlayerOnField) {
                            <object data="../../public/images/fields/Ground_1_P.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_1_P.png")" id="game-field"/>
                            </object>
                        } else {
                            <object data="../../public/images/fields/Ground_1.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_1.png")" id="game-field"/>
                            </object>
                        }
                        } else if(controller.gameController.level.dungeon(i)(j).value == ground_2) {
                        @if(controller.gameController.level.dungeon(i)(j).isPlayerOnField) {
                            <object data="../../public/images/fields/Ground_2_P.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_2_P.png")" id="game-field"/>
                            </object>
                        } else {
                            <object data="../../public/images/fields/Ground_2.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_2.png")" id="game-field"/>
                            </object>
                        }
                        } else if(controller.gameController.level.dungeon(i)(j).value == ground_3) {
                        @if(controller.gameController.level.dungeon(i)(j).isPlayerOnField) {
                            <object data="../../public/images/fields/Ground_3_P.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_3_P.png")" id="game-field"/>
                            </object>
                        } else {
                            <object data="../../public/images/fields/Ground_3.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_3.png")" id="game-field"/>
                            </object>
                        }
                        } else if(controller.gameController.level.dungeon(i)(j).value == ground_4) {
                        @if(controller.gameController.level.dungeon(i)(j).isPlayerOnField) {
                            <object data="../../public/images/fields/Ground_4_P.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_4_P.png")" id="game-field"/>
                            </object>
                        } else {
                            <object data="../../public/images/fields/Ground_4.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_4.png")" id="game-field"/>
                            </object>
                        }
                        } else if(controller.gameController.level.dungeon(i)(j).value == ground_5) {
                        @if(controller.gameController.level.dungeon(i)(j).isPlayerOnField) {
                            <object data="../../public/images/fields/Ground_5_P.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_5_P.png")" id="game-field"/>
                            </object>
                        } else {
                            <object data="../../public/images/fields/Ground_5.png" type="image/png">
                                <img src="@routes.Assets.versioned("images/fields/Ground_5.png")" id="game-field"/>
                            </object>
                        }
                        } else if(controller.gameController.level.dungeon(i)(j).value == door_1) {
                    <object data="../../public/images/fields/Door1.png" type="image/png">
                        <img src="@routes.Assets.versioned("images/fields/Door1.png")" id="game-field"/>
                    </object>
                        } else if(controller.gameController.level.dungeon(i)(j).value == door_2) {
                    <object data="../../public/images/fields/Door21.png" type="image/png">
                        <img src="@routes.Assets.versioned("images/fields/Door21.png")" id="game-field"/>
                    </object>
                        }

                    </div>
                }
                </div>
            }
            <div id="move-button-group">
                <form method="get" action="@routes.TrailRunnerController.moveUp()">
                    <button id="move-button" type="submit">&#x2191</button>
                </form>
                <div class="btn-group" role="group">
                    <form method="get" action="@routes.TrailRunnerController.moveLeft()">
                        <button id="move-button" type="submit">&#x2190</button>
                    </form>
                    <form method="get" action="@routes.TrailRunnerController.moveDown()">
                        <button id="move-button" type="submit">&#x2193</button>
                    </form>
                    <form method="get" action="@routes.TrailRunnerController.moveRight()">
                        <button id="move-button" type="submit">&#x2192</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
}
