@main("TrailRunner") {
    <head>
        <meta charset="UTF-8">
        <title>Level Selection</title>
        <link href=“main.css” rel=“stylesheet” type=“text/css” />
    </head>
    <body>
        <div class="container-fluid">
            <div class="message">
                <div id="win-message">
                    <p>Congrats!<br>
                        <br>
                        You've found your way
                        <br>
                        <br>
                        out of the dungeon
                    </p>
                </div>
            </div>
            <div class="row">
                <form method="get" action="@routes.TrailRunnerController.menu()">
                    <button id="back-to-main" type="submit">Back to Main Menu</button>
                </form>
            </div>
        </div>
    </body>
}